.pendiente{
  background-color: rgb(7, 193, 199);
  border: black;
}

.completado {
  background-color: rgb(201, 200, 200);
  text-decoration: line-through;
}
.tarea{
font-size:xx-large;
text-align:center;
}

.letra1{
font:50 40px/1em Amatic SC;
text-align:inherit;
padding-top:40px;
}